.executor-cell-container {
  padding: 5px;
  cursor: pointer;
  border: 3px solid white;
  border-radius: 5px;
}

.executor-cell-container-selected {
  padding: 5px;
  cursor: pointer;
  border: 3px solid #d97c7c;
  border-radius: 5px;
}